<span style="font-weight: bold">TECHNIQUE:</span> The patient had a preliminary scan to obtain calcium score and was used for creating volume sets for contrasted scan. The patient then received intravenous contrast followed by a saline chase during which an overlapping sub-millimeter retrospective gated variable mAs spiral scan was obtained from a level above the aortic root through the base of the heart. Several reconstructions were performed on the source data at various points in the cardiac cycle. The reconstructed data sets were sent to an independent work station where extensive post-processing was performed that includes multiplanar 2D reformatting, 3-D volume reformatting, 3D thin slab MIP, vessel tracking, stenosis estimation, and functional evaluation. Representative images have been stored on PACS.

Aortic valve calcium score: {{agatston}} Agatston units

Annulus Area: {{M:AnnulusDimensionsArea}} mm2
Annulus Perimeter: {{M:AnnulusDimensionsPerimeter}} mm
STJ: {{X:SinotubularJunctionDiameterMin,SinotubularJunctionDiameterMax}} mm
LVOT: {{X:LVOTDiameterMin,LVOTDiameterMax}} mm
Aortic Angle: {{M:HorizontalAortaAngleAngle}} degrees

<strong>Sinuses of Valsalva:</strong>
  Left:  {{M:SinusOfValsalvaLeftAvg}} mm
  Right: {{M:SinusOfValsalvaRightAvg}} mm
  Non:   {{M:SinusOfValsalvaNonAvg}} mm

Left Coronary Height:  {{M:LeftCoronaryHeightLength}} mm
Right Coronary Height: {{M:RightCoronaryHeightLength}} mm
Ascending Aorta: {{X:AscendingAortaDiameterMin,AscendingAortaDiameterMax}} mm

Coplanar projection: {{coplanar}}

Comments:
{{comments}}


Coronary arteries:
Dominance:
Left main coronary artery:
Left anterior descending artery:
Left circumflex artery:
Right coronary artery:

Iliofemoral arteries:
Right common iliac artery: {{r_common_iliac}}
Right external iliac artery: {{r_external_iliac}}
Right common femoral artery: {{r_common_femoral}}
Right femoral bifurcation: {{r_femoral_bifurcation}}

Left common iliac artery: {{l_common_iliac}}
Left external iliac artery: {{l_external_iliac}}
Left common femoral artery: {{l_common_femoral}}
Left femoral bifurcation: {{l_femoral_bifurcation}}

IMPRESSION:
1. The aortic valve is [] with calcium score of {{agatston}} Agatston units.
2. The aortic valve annular area is {{M:AnnulusDimensionsArea}} mm2 and perimeter is {{M:AnnulusDimensionsPerimeter}} mm.
3.
4. Iliofemoral arteries appear suitable for transfemoral TAVR.