<?php
return [
    'IDENTITY_DB_HOST' => '$SINGLE_AUTH_DB_HOST',
    'IDENTITY_DB_PORT' => $SINGLE_AUTH_DB_PORT,
    'IDENTITY_DB_NAME' => '$SINGLE_AUTH_DB_NAME',
    'IDENTITY_DB_USER' => '$SINGLE_AUTH_DB_USER',
    'IDENTITY_DB_PASS' => '$SINGLE_AUTH_DB_PASS',
];
